@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

main {
  min-height: 100vh;
  margin: 0;
  padding: 0.8rem 0.6rem;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  /* grid configuration, override in media queries */
  --grid-columns: 1;
  --grid-col-spacing: 0rem;
  --grid-row-spacing: 1rem;
  --grid-prioritized-order: -1;
}

.grid-item {
  flex-grow: 0;
  flex-shrink: 0;
  /* fallback to 1 column if no custom properties support */
  flex-basis: 100%;
  flex-basis: calc((100% - ((var(--grid-columns, 1) - 1) * var(--grid-col-spacing, 0rem))) / var(--grid-columns, 1));

  margin: 0;
  margin: calc(var(--grid-row-spacing) / 2) 0;
  padding: 2rem 0.6rem;
  font-size: 4em;
  text-align: center;
  border-width: 4px;
  border-style: solid;
  border-radius: 0.6rem;
}

.grid-item:first-child {
  margin-top: 0;
}

.grid-item:last-child {
  margin-bottom: 0;
}

.section-1 {
  background-color: rebeccapurple;
  color: white;
  border-color: transparent;
}

.section-2 {
  color: rebeccapurple;
  border-color: rebeccapurple;
}

.section-3 {
  background-color: crimson;
  color: white;
  border-color: transparent;
}

@media (min-width: 30em) {
  main {
    padding: 1.2rem 1.4rem;
  }

  .grid {
    --grid-columns: 3;
    --grid-col-spacing: 1rem;
    --grid-row-spacing: 0rem;
  }

  .section-2 {
    order: var(--grid-prioritized-order);
  }
}

@media (min-width: 55em) {
  main {
    /* horizontally center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 0;
  }

  .grid {
    width: 80%;
  }
}

