@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

:root {
  font-size: calc(14em/16);
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(13, 43, 43);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  margin: 0;
}

figcaption {
  padding: 0.4em 0.6em 0.6em;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration-skip: ink;
  color: inherit;
}

